
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrlHelperAction</title>
</head>
<body>
    <h1>Url Helper Action Test</h1>
</body>
</html>
