
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HtmlAction</title>
</head>
<body>

    <h1>Html Action Link Test</h1>

</body>
</html>
